<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <!--<add name="SQLDB" connectionString="DATA SOURCE=localhost;Initial Catalog=AntOA;USER ID=sa;Password=123@abc;Persist Security Info=True" providerName="System.Data.SqlClient" />-->
        <add name="SQLDB" connectionString="DATA SOURCE=(LocalDB)\MSSQLLocalDB;Initial Catalog=AntOA;Integrated Security=True;Pooling=False" providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>