
@{
    ViewBag.Title = "List";
}

<h2>List</h2>


流程列表：
@{ List<Model.WfProcess> processes = ViewBag.Processes; }
@foreach (Model.WfProcess p in processes)
{
    <li>
        @*<input type="hidden" value="1" class="IsNew"/>
        <input type="hidden" value="@p.ProcessGuid" class="ID"/>*@
        <a href="/Home/Handle?isNew=true&id=@p.ProcessGuid" class="create">@p.ProcessName</a>
    </li>
}

任务列表：
@*@foreach (var t in ViewBag.Tasks)
{
    <li>@t</li>
}*@



<script>
    $(document).ready(function () {
//        $(".create").click(function () {
//            $.ajax({
//                type: "POST",
//                url: "some.php",
//                data: {"isNew": this.prev(".IsNew"), "id": this.prev(".ID")}
//                success: function (msg) {
//                    alert("Data Saved: " + msg);
//                }
//            });
//        });
    });
</script>