
@{
    ViewBag.Title = "List";
}

<h2>List</h2>


流程列表：
@{ List<Model.WfProcess> processes = ViewBag.Processes; }
@foreach (Model.WfProcess p in processes)
{
    <li><a href="/Home/Handle/@p.ProcessGuid">@p.ProcessName</a></li>
}

任务列表：
@*@foreach (var t in ViewBag.Tasks)
{
    <li>@t</li>
}*@