@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>FormList</title>
</head>
<body>
    <div>
        @if (ViewBag.IsCase==0)
        {
            <a href="/FormBuilder/Index?isCase=@ViewBag.IsCase&id=@ViewBag.ID">新建</a>
        }
        <table>
            <thead><td>表单序号</td><td>表单名称</td><td>创建时间</td><td>发布次数</td><td>操作</td></thead>
            <tbody>
            @foreach (var form in ViewBag.FormList) 
            {
                <tr>
                    <td>@form.TaskPage</td>
                    <td>@form.Name</td>
                    <td>@form.CreateTime</td>
                    <td>@form.Released</td>
                    <td><a href="/FormBuilder/Index?isCase=@ViewBag.IsCase&id=@form.MasterGuid&formID=@form.FormGuid">表单设计器</a></td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</body>
</html>
