@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Index</title>
</head>
<body>
    <div><a href="/Manager/ProcessList">流程设置</a></div>
    <div><a href="/Manager/InstanceList">实例监控</a></div>
</body>
</html>
